<div class="row">
    <h2>Available Assets</h2>
    <button class="btn btn-lg btn-info" [class.active]="filterBy==='all'" (click)="filterBy='all'">All</button>
    <button class="btn btn-lg btn-info" [class.active]="filterBy==='bikes'" (click)="filterBy='bikes'">Bikes</button>
    <button class="btn btn-lg btn-info" [class.active]="filterBy==='cars'" (click)="filterBy='cars'">Cars</button>
    <button class="btn btn-lg btn-info" [class.active]="filterBy==='others'" (click)="filterBy='others'">Others</button>
    <ul id="thumbnailsList">
        <li *ngFor="let image of (visibleImages | imageFilter:filterBy)" >
            <a [routerLink] ="['/image', image.id]">
                <img src="{{image.url}}" class="tn" width="200" height="160">
            </a>
        </li>
    </ul>
</div>
